.carousel-container {
    position: relative;
    background-color: red;
  }
  
  .controls {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }
  
  .controls button {
    background: transparent;
    border: none;
    cursor: pointer;
    background-color: aqua;
  }
  
  .controls button:focus {
    outline: none;
  }
  
  .button-left {
    order: 1;
    background-color: aqua;
  }
  
  .button-right {
    order: 3;
    background-color: aqua;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centered-image {
    display: block;
    margin: 0 auto;
    height: 500px;
  }